<div fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <div fxLayout="column">
            <app-button-left-column></app-button-left-column>
        </div>
        <div fxLayout="column">
            <app-screen></app-screen>
        </div>
        <div fxLayout="column">
            <app-button-right-column></app-button-right-column>
        </div>
    </div>
    <div fxLayout="row">
        <app-cash-dispenser></app-cash-dispenser>
        <app-card-reader></app-card-reader>
    </div>
    <div fxLayout="row">
        <app-keyboard></app-keyboard>
    </div>
</div>